                                        <tr>
                                            <td>
                                                <div class="img">
                                                    <a href="{% url 'product_page' order.product.slug %}"><img src="{{ order.product.get_first_photo }}" alt="Image"></a>
                                                    <p><a href="{% url 'product_page' order.product.slug %}">{{ order.product.title }}</a></p>
                                                </div>
                                            </td>
                                            <td>${{ order.product.price }}</td>
                                                <td>
                                                        {% if "cart" in request.path %}
                                                            {% if order.product.quantity > -1  %}
                                                                <a href="{% url 'to_cart' order.product.pk "delete" %}"><i class="fas fa-caret-left"></i></a>                                                    
                                                            {% endif %}
                                                            {{ order.quantity}} 
                                                            <a href="{% url 'to_cart' order.product.pk "add" %}"><i class="fas fa-caret-right"></i></a>                                                                                                    
                                                        {% endif %}
            
                                                </td>
                                            <td>${{ order.get_total_price }}</td>
                                            <td>
                                                <a href="{% url 'to_cart' order.product.pk 'remove' %}"><i class="fa fa-trash"></i></a> 
                                            </td>
                                        </tr>

