                                        <tr>
                                            <td>
                                                <div class="img">
                                                    <a href="{% url 'product_page' order.product.slug %}"><img src="{{ order.product.get_first_photo }}" alt="Image"></a>
                                                    <p><a href="{% url 'product_page' order.product.slug %}">{{ order.product.title }}</a></p>
                                                </div>
                                            </td>
                                            <td>${{ order.product.price }}</td>
                                            <td>
                                                <div class="qty">
                                                    <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                                    <input type="text" value="{{ cart_total_quantity }}">
                                                    <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </td>
                                            <td>${{ cart_total_price }}</td>
                                            <td><button><i class="fa fa-trash"></i></button></td>
                                        </tr>

