<div class="col-lg-8">
    <div class="cart-page-inner">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Товар</th>
                        <th>Стоимость</th>
                        <th>Количество</th>
                        <th>Сумма</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <tr>
                        <td>
                            <div class="img">
                                <a href="#"><img src="img/product-1.jpg" alt="Image"></a>
                                <p>Product Name</p>
                            </div>
                        </td>
                        <td>$99</td>
                        <td>
                            <div class="qty">
                                <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                <input type="text" value="1">
                                <button class="btn-plus"><i class="fa fa-plus"></i></button>
                            </div>
                        </td>
                        <td>$99</td>
                        <td><button><i class="fa fa-trash"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



