{% load static %}

<!-- Category Start-->
    <div class="category">
        
        <div class="container-fluid">
            <div class="row">
                {% for cat in categories %}
                    <div class="col-md-3">
                        <div class="category-item ch-400">
                            <img src="{{ cat.get_parent_cetegory_photo }}" />
                            <a class="category-name" href="{{ cat.get_absolute_url }}">
                                <p>{{ cat.get_absolute_url }}</p>
                            </a>
                        </div>
                    </div>                
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Category End-->       