{% load shop_tags %}

<div class="row product-detail-bottom">
    <div class="col-lg-12">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#description">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#reviews">Reviews (1)</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="description" class="container tab-pane active">
                <h2>Описание товара</h4>
                <p>
                    {{ product.info}}
                </p>
            </div>
            <div id="reviews" class="container tab-pane fade">
                <div class="reviews-submitted">
                    {% for review in reviews  %}
                        <div class="reviewer">{{ review.author.username}} - <span>{{ review.created_at }}</span></div>
                        <div class="ratting">
                            {% if review.grade %}
                                {% for star in review.grade|get_positive_range %}
                                    <i class="fa fa-star"></i>
                                {% endfor %}
                                {% for star in review.grade|get_negative_range %}
                                    <i class="far fa-star"></i>
                                {% endfor %}
                            
                            {% endif %}
                        </div>
                            <p>
                                {{ review.text}}
                            </p>
                    {% endfor %}
                </div>
                {% if request.user.is_authenticated %}
                    <div class="reviews-submit">
                        <h4>Оставь свой отзыв:</h4>
                        <div class="ratting">
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="row form">
                            <form action="{% url 'save_review' product.pk %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ review_form.as_p }}
                                <div>
                                    <button class='btn btn-success'>Оставить отзыв</button>
                                </div>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <h4>
                        Отзывы могут оставлять только зарегистрированные пользователи
                    </h4>            
                    <p><a href="{% url 'login_registration' %}">Войти/Зарегистрироваться</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>