{% load shop_tags %}

{% if request.user.is_authenticated %}
    {% get_favorite_product request.user product as fav_product%}
{% endif %}

{% get_average_rating product.slug as grade %}

<div class="col-md-7">
    <div class="product-content">
        <div class="title"><h2>{{ product.title }}</h2></div>
        <div class="ratting">
        {% for star in grade|get_positive_range %}
            <i class="fa fa-star"></i>
        {% endfor %}
        {% for star in grade|get_negative_range %}
            <i class="far fa-star"></i>
        {% endfor %}
        </div>
        <div class="p-price">
            <h4>Цена: {{ product.price }}</h4>
        </div>
        <div>
            <h4>Размер: {{ product.size }}</h4>
        </div>
        <div>
            <h4>{{ product.description }}</h4>
        </div>
        <div >
            <h4>Цвет: {{ product.color }}</h4>
        </div>
        <div class="p-quantity">
            <h4>В наличии: {{ product.quantity }} шт.</h4>
        </div>
        <div class="p-category">
            <h4>Категория: {{ product.category.title }}</h4>
        </div>
        <div class="action">
            {% if request.user.is_authenticated %}
                <a class="btn" href="#"><i class="fa fa-shopping-cart"></i>Добавить в корзину</a>
                {% if fav_product %}
                    <a class="btn" href="{% url 'add_favorite' product.slug %}"><i class="fa fa-heart me-2" style="color:red"></i>Убрать из избранного</a>
                {% else %}    
                    <a class="btn" href="{% url 'add_favorite' product.slug %}"><i class="fa fa-heart me-2"></i>Добавить в избранноe</a>        
                {% endif %}
                <a class="btn" href="#"><i class="fa fa-shopping-bag"></i>Buy Now</a>            
            {% endif %}
        </div>
    </div>
</div>