    <!-- Recent Product Start -->

    <div class="recent-product product">
        <div class="container-fluid">
            <div class="section-header">
                <h1>Trending Product</h1>
            </div>
            <div class="row align-items-center product-slider product-slider-4">
                {% for product in top_products %}
                    <div class="col-md-4">
                        {% include "shop/components/_product_card.html" %}
                    </div>
                
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Recent Product End -->