{% load shop_tags %}

{% get_subcategories category as categories %}
{% get_sorted as data %}
 
 <!-- Side Bar Start -->
            <div class="col-lg-4 sidebar">
                <div class="sidebar-widget category">
                    <h2>Фильтры</h2>
                    <h3 class="title">Подкатегории: {{ category }}
                    </h3>
                    {% for cat in categories %}
                        <nav class="navbar bg-light">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="?type={{ cat.slug }}"><i class="fa fa-female"></i>{{ cat }}</a>
                                </li>
                            </ul>
                        </nav>                   
                    {% endfor %}
                    {% for key in data  %}
                        <h3 class="title"> {{ key.title }}
                        </h3>
                            {% for value in key.sorters %}
                            <nav class="navbar bg-light">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="?sort={{ value.0 }}"><i class="fa fa-female"></i>{{ value.1 }} </a>
                                    </li>
                                </ul>
                            </nav>                   
                        {% endfor %}
                    
                    {% endfor %}
                </div>

                
            <!-- Side Bar End -->