{% load shop_tags %}

{% get_subcategories category as categories %}
 
 <!-- Side Bar Start -->
            <div class="col-lg-4 sidebar">
                <div class="sidebar-widget category">
                    <h2>Фильтры</h2>
                    <h3 class="title">Подкатегории: {{ category }}
                    </h3>
                    {% for cat in categories %}
                        <nav class="navbar bg-light">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-female"></i>{{ cat }}</a>
                                </li>
                            </ul>
                        </nav>
                    
                    {% endfor %}
                </div>

                
            <!-- Side Bar End -->