{% extends "base.html" %}


{% block title %}
{% endblock title %}


{% block main %}

        <!-- Cart Start -->
        <div class="cart-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="cart-page-inner">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                        {% for order in order_products  %}
                                            {% include "shop/components/_cart_row.html" %}                                        
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart-page-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="cart-summary">
                                        <div class="cart-content">
                                            <h1>Корзина</h1>
                                            <p>Общее количество товаров<span>{{ cart_total_quantity }}</span></p>
                                            <p>Общая цена товаров<span>{{ cart_total_price }}</span></p>
                                        </div>
                                        <div class="cart-btn">
                                            <a href="{% url 'checkout' %}">Оформить заказ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart End -->

{% endblock main %}