{% extends "base.html" %}
{% load shop_tags %}


{{ parent_categories}}

{% block title %}

    {{ title }}

{% endblock title %}



{% block main %}

        
    {% get_all_parent_category as parent_categories%}
        <!-- Product Detail Start -->
        <div class="product-detail">
            {% for message in messages  %}
                <div class="alert alert-{{ message.extra_tags }}">{{ message }}</div>
            {% endfor %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="product-detail-top">
                            <div class="row align-items-center">
                                {% include "shop/components/_product_slider.html" %}
                                {% include "shop/components/_product_detail.html" %}
                            </div>
                        </div>
                        
                        {% include "shop/components/_product_detail_bottom.html" %}
                        
                        {% include "shop/components/_related_products.html" %}
                    </div>
                    
                    <!-- Side Bar Start -->
                    <div class="col-lg-4 sidebar">
                        <div class="sidebar-widget category">
                            <h2 class="title">Категории товаров</h2>
                            <nav class="navbar bg-light">
                                <ul class="navbar-nav">
                                    {% for category in parent_categories  %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{%  url 'category_detail' category.slug %}"><i class="fa fa-female"></i>{{ category.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                    </div> 
                    <!-- Side Bar End -->
                </div>
            </div>
        </div>
        <!-- Product Detail End -->

{% endblock main %}