{% extends "base.html" %}


{% block title %}
{{ title }}
{% endblock title %}


{% block main %}

{% if request.user.is_superuser %}

<div class="container">
    <div><div style="margine-top: 150px;"></div></div>
    <h3>Текст почты</h3>
    <form action="{% url 'send_email' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea name="text" cols="30" rows="10" placeholder="Текст..." class="form-control"></textarea>
        <button class="btn btn-success" type="submit">Отправить всем</button>
    </form>
</div>

{% else %}
111111
<meta http-equiv="Refresh" content="0; url={% url 'index' %}" />

{% endif %}

{% endblock main %}